.myCardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cardImage{
    width: 100%;
    height: 200px;
}

.myProductCard{
    width: 350px;
    height:400px;
}

.searchInp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 400px;
    margin-left: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;   

}

.searchInp input{
    width: 300px;
    padding: 10px 20px;
     border: none; 
    outline: none;
    border-radius: 5px;
    font-size: 17px;
}