.button{
    color: red;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    
   

}
.button1{
    color: blue;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}